.Box {
  display: grid;
  grid-template-rows: max-content minmax(max-content, auto);
  align-items: center;
  row-gap: 12px;
  padding: 12px;
  position: relative;

  .WelcomeText {
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
  }

  .SummaryBoard {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 12px;

    .ScoreBoard {
      display: block;
      border-radius: 4px;
      padding: 12px 20px;
      height: 90px;
      background: var(--white);
      box-shadow: 0 1px 0 0 #cfd7df;
      text-decoration: none;
      letter-spacing: 0.2px;
      background: #307ef4;

      span {
        color: #ffffff;
        display: block;
        text-align: center;

        &:nth-child(1) {
          font-weight: 500;
          margin-bottom: 4px;
          font-size: 16px;
        }

        &:nth-child(2) {
          font-weight: 700;
          font-size: 24px;
        }
      }

      &:nth-child(1) {
        background: #307ef4;

        span {
          color: #ffffff;
        }
      }

      &:nth-child(2) {
        background: #ffb057;

        span {
          color: #183247;
        }
      }

      &:nth-child(3) {
        background: #49b6c2;

        span {
          color: #ffffff;
        }
      }

      &:nth-child(4) {
        background: #ff814d;

        span {
          color: #ffffff;
        }
      }

      &:nth-child(5) {
        background: #fa5b5a;

        span {
          color: #ffffff;
        }
      }

      &:nth-child(6) {
        background: #29b873;

        span {
          color: #ffffff;
        }
      }
    }
  }

  .ChartBoxTable {
    display: grid;
    height: 100%;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 12px;

    .ChartTable {
      display: grid;
      border-radius: 4px;
      padding: 20px 10px 5px 10px;
      height: 100%;
      background: var(--white);
      box-shadow: 0 1px 0 0 #cfd7df;
      text-decoration: none;
      letter-spacing: 0.2px;
      grid-template-rows: max-content auto;
      position: relative;

      &:nth-child(1) {
        grid-row: span 2;
      }

      &:nth-child(4) {
        grid-column: span 2;
      }

      .ChartHeadBoxTable {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 4px;
        justify-content: space-between;
        padding: 0px 4px 0px 16px;
        margin-bottom: 12px;

        h4 {
          color: #183247;
          font-weight: 500;
        }

        ul {
          list-style: none;
          display: flex;
          gap: 16px;

          li {
            color: #a1a5b7;
            font-size: 13px;
            padding: 5px 10px;
            .Box {
              display: grid;
              grid-template-rows: max-content minmax(max-content, auto);
              align-items: center;
              row-gap: 12px;
              padding: 12px;

              .SummaryBoard {
                display: grid;
                grid-auto-columns: 1fr;
                grid-auto-flow: column;
                column-gap: 12px;

                .ScoreBoard {
                  display: block;
                  border-radius: 4px;
                  padding: 12px 20px;
                  height: 90px;
                  background: var(--white);
                  box-shadow: 0 1px 0 0 #cfd7df;
                  text-decoration: none;
                  letter-spacing: 0.2px;

                  span {
                    color: #183247;
                    display: block;

                    &:nth-child(1) {
                      font-weight: 500;
                      margin-bottom: 8px;
                    }

                    &:nth-child(2) {
                      font-weight: 600;
                      font-size: 24px;
                    }
                  }
                }
              }

              .ChartBox {
                display: grid;
                height: 100%;
                grid-template-columns: 1.1fr 2fr;
                grid-template-rows: repeat(2, minmax(max-content, auto));
                gap: 12px;

                .Chart {
                  display: grid;
                  border-radius: 4px;
                  padding: 20px 10px 5px 10px;
                  height: 100%;
                  background: var(--white);
                  box-shadow: 0 1px 0 0 #cfd7df;
                  text-decoration: none;
                  letter-spacing: 0.2px;
                  grid-template-rows: max-content auto;
                  position: relative;

                  &:nth-child(1) {
                    grid-row: span 2;
                  }

                  &:nth-child(4) {
                    grid-column: span 2;
                  }

                  .ChartHeadBox {
                    display: grid;
                    grid-template-columns: repeat(2, max-content);
                    gap: 4px;
                    justify-content: space-between;
                    padding: 0px 4px 0px 16px;
                    margin-bottom: 12px;

                    h4 {
                      color: #183247;
                      font-weight: 500;
                    }

                    ul {
                      list-style: none;
                      display: flex;
                      gap: 16px;

                      li {
                        color: #a1a5b7;
                        font-size: 13px;
                        padding: 5px 10px;
                        cursor: pointer;

                        &.active {
                          background: #009ef7 !important;
                          color: #fff !important;
                          border-radius: 2px;
                        }
                      }
                    }
                  }

                  > div:nth-child(2) {
                    display: grid;
                    align-items: center;
                  }
                }
              }
            }

            cursor: pointer;

            &.active {
              background: #009ef7 !important;
              color: #fff !important;
              border-radius: 2px;
            }
          }
        }
      }

      > div:nth-child(2) {
        display: grid;
        align-items: center;
      }
    }
  }

  .ChartBox {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(2, minmax(max-content, auto));
    gap: 12px;

    .Chart {
      display: grid;
      border-radius: 4px;
      padding: 20px 10px 5px 10px;
      height: 100%;
      background: var(--white);
      box-shadow: 0 1px 0 0 #cfd7df;
      text-decoration: none;
      letter-spacing: 0.2px;
      grid-template-rows: max-content auto;
      position: relative;

      // A &:nth-child(1) {
      // A  grid-row: span 2;
      // A}

      // A &:nth-child(4) {
      // A  grid-column: span 2;
      // A }

      .ChartHeadBox {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 4px;
        justify-content: space-between;
        padding: 0px 4px 0px 16px;
        margin-bottom: 12px;

        h4 {
          color: #183247;
          font-weight: 500;
        }

        ul {
          list-style: none;
          display: flex;
          gap: 16px;

          li {
            color: #a1a5b7;
            font-size: 13px;
            padding: 5px 10px;
            .Box {
              display: grid;
              grid-template-rows: max-content minmax(max-content, auto);
              align-items: center;
              row-gap: 12px;
              padding: 12px;

              .SummaryBoard {
                display: grid;
                grid-auto-columns: 1fr;
                grid-auto-flow: column;
                column-gap: 12px;

                .ScoreBoard {
                  display: block;
                  border-radius: 4px;
                  padding: 12px 20px;
                  height: 90px;
                  background: var(--white);
                  box-shadow: 0 1px 0 0 #cfd7df;
                  text-decoration: none;
                  letter-spacing: 0.2px;

                  span {
                    color: #183247;
                    display: block;

                    &:nth-child(1) {
                      font-weight: 500;
                      margin-bottom: 8px;
                    }

                    &:nth-child(2) {
                      font-weight: 600;
                      font-size: 24px;
                    }
                  }
                }
              }

              .ChartBox {
                display: grid;
                height: 100%;
                grid-template-columns: 1.1fr 2fr;
                grid-template-rows: repeat(2, minmax(max-content, auto));
                gap: 12px;

                .Chart {
                  display: grid;
                  border-radius: 4px;
                  padding: 20px 10px 5px 10px;
                  height: 100%;
                  background: var(--white);
                  box-shadow: 0 1px 0 0 #cfd7df;
                  text-decoration: none;
                  letter-spacing: 0.2px;
                  grid-template-rows: max-content auto;
                  position: relative;

                  &:nth-child(1) {
                    grid-row: span 2;
                  }

                  &:nth-child(4) {
                    grid-column: span 2;
                  }

                  .ChartHeadBox {
                    display: grid;
                    grid-template-columns: repeat(2, max-content);
                    gap: 4px;
                    justify-content: space-between;
                    padding: 0px 4px 0px 16px;
                    margin-bottom: 12px;

                    h4 {
                      color: #183247;
                      font-weight: 500;
                    }

                    ul {
                      list-style: none;
                      display: flex;
                      gap: 16px;

                      li {
                        color: #a1a5b7;
                        font-size: 13px;
                        padding: 5px 10px;
                        cursor: pointer;

                        &.active {
                          background: #009ef7 !important;
                          color: #fff !important;
                          border-radius: 2px;
                        }
                      }
                    }
                  }

                  > div:nth-child(2) {
                    display: grid;
                    align-items: center;
                  }
                }
              }
            }

            cursor: pointer;

            &.active {
              background: #009ef7 !important;
              color: #fff !important;
              border-radius: 2px;
            }
          }
        }
      }

      > div:nth-child(2) {
        display: grid;
        align-items: center;
      }
    }
  }

  table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 0.25rem;
    font-size: 12px;
  }
  tr.red th {
    // A background: #446fad;
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  th {
    background: #d1e0eb;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  .table_bordered td {
    border: 1px solid #ffd0ae;
    text-align: center;
  }
  .table_bordered th {
    border: 1px solid #f7f7f7;
    text-align: center;
  }
  .table-stripped > tbody > tr:nth-child(odd) > td {
    background: #fbd3b7 !important;
  }

  .table-stripped > tbody > tr:nth-child(odd) > th {
    background: #fbd3b7;
  }
  .table_Height_saleorder {
    width: 99%;
    padding-left: 15px;
    height: 200px;
    overflow: auto;
  }
  .table_Height_saleorder::-webkit-scrollbar {
    width: 6px;
  }

  .table_Height_saleorder::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
  }

  .table_Height_saleorder::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}
